# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log*
package-lock.json

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Metro / React Native
# =========================
.metro-health-check*
metro-cache/
.expo/
.expo-shared/

# =========================
# Android / IntelliJ
# =========================
android/build/
android/app/build/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
.idea/

# =========================
# iOS / Xcode
# =========================
ios/build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.hmap
*.ipa
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
**/.xcode.env.local

# =========================
# CocoaPods / Ruby
# =========================
ios/Pods/
vendor/bundle/

# =========================
# Fastlane
# =========================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# =========================
# Build Artifacts
# =========================
*.jsbundle
dist/
build/

# =========================
# Testing
# =========================
coverage/

# =========================
# Yarn (Berry)
# =========================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Misc
# =========================
tmp/
*.log